DEBUG=True
APP_PORT=8089
SECRET_KEY=secret

CORS_ORIGINS="*"
GEMINI_API_KEY="xxx"
GEMINI_MODEL_NAME="gemini-2.5-flash"
AI_AGENT_API_URL=""# http://127.0.0.1:5678/webhook/aa...
DEEP_LEARNING_API_URL="http://deep_learning_api:5000/predict"# docker => http://deep_learning_api:5000/predic
FACT_CHECK_LOG_PATH="./log/fact_check_logs.csv"

