DEBUG=True
APP_PORT=8089
SECRET_KEY=secret

GEMINI_API_KEY="xxx"
GEMINI_MODEL_NAME="gemini-3-flash"
AI_AGENT_API_URL=""# docker => http://n8n_web_investigation_api:5000/webhook/aa...
DEEP_LEARNING_API_URL=""# docker => http://deep_learning_api:5000/predic
FACT_CHECK_LOG_PATH="./log/fact_check_logs.csv"

